/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
h5 {
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
}

.table {
  /* margin-left: 100px; original */
  margin-left: 10%;
}




/* =============================================================
   NAVIGATION STYLES
 ============================================================ */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pad-top {
  padding-top: 40px;
}

.text-center {
  text-align: center;
}

i.fa {
  padding: 5px;
}

section {
  padding-top: 50px;
}

p {
  font-weight: 300;
  /* line-height: 30px;  comentado luis */
}

.pad-row {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pad-bottom {
  padding-bottom: 0px;
}

/* NAVBAR STYLE */


.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

/* ADDED PADDING IN NAVBAR */

.navbar {
  padding: 15px;
  -webkit-transition: background .8s ease-out, padding .8s ease-out;
  -moz-transition: background .8s ease-out, padding .8s ease-out;
  transition: background .8s ease-out, padding .8s ease-out;
}


/* CLASS FOR REMOVING PADDING IN NAVBAR*/

.navbar-pad-original {
  padding: 0px;
}

/* CARUOSEL STYLE OR SLIDESHOW STYLE*/

.back-light {
  background-color: rgba(0, 0, 0, 0.50);
  padding: 10px;
}

/*NOTE SECION STYLE*/
.note-sec {
  padding-bottom: 50px;
  background: url(../img/4.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  min-height: 300px;
  color: #fff;
}

/*HEADINGS IMAGE STYLE*/


.head-main-img {
  padding-bottom: 50px;
  background: url(../img/4.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  min-height: 300px;
  color: #fff;
}

.head-main-img h1 {
  padding: 50px 2px 2px 10px;
  text-transform: uppercase;
}


/* PRICING STYLE */


.plan {
  padding: 0 0 15px 0;
  margin: 30px 0px;
  list-style: none;
  text-align: center;
}

.plan li {
  padding: 15px 0px;
  font-size: 16px;
  border-bottom: 1px dotted #e1e1e1;
}

.price {
  font-size: 45px !important;
}

small {
  font-size: 15px;
  padding-left: 10px;
}

.plan li i {
  padding-right: 10px;
}

.price-two {
  font-size: 30px !important;
  padding: 15px 0px;
  background-color: rgba(162, 188, 253, 1);
  color: #fff;
  border: none;
  font-weight: 900;
}

.adjust-border-radius {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.adjust-border {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}


/*PORTFOLIO STYLES*/

.portfolio-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-items {
  margin-right: 10px;
  margin-left: 10px;
}

.portfolio-items>li {
  float: left;
  padding: 0;
  margin: 0;
}

.portfolio-items.col-3>li {
  width: 33%;
}

.portfolio-item .item-main {
  margin: 0 10px 10px 0;
  text-align: center;

}

.portfolio-item .item-main2 {
  margin: 0 10px 10px 0;
  text-align: center;


}

.portfolio-container {
  display: flex;
  flex-wrap: nowrap;
  /* Evita que se envuelvan a la siguiente fila */
  overflow-x: auto;
  /* Agrega una barra de desplazamiento horizontal si es necesario */
  margin: 30;
  /* Elimina el margen del contenedor principal */
  padding: 10px;
}

.portfolio-item {
  flex: 0 0 auto;
  /* Establece el tamaño inicial de los elementos para que no se estiren */
  /*margin-right: 20px; /* Espacio entre los elementos del portfolio */
  margin: 0% 0% 0% 0%;
  position: relative;
  width: 100px;
  /*añadido luis */
}

.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;

}

.port-type.portfolio-items.col-4 img {
  width: 13%;
}

.portfolio-item .portfolio-image {
  position: relative;
  height: 150px;

}

.portfolio-item h5 {
  margin: 0;
  /* padding: 20px 0px 20px 0px; */

  font-size: 20px;
}

.portfolio-item .overlay {
  position: relative;
  /*modificado luis antes era absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(177, 166, 255, 1);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

/*codigo de luis*/




#port-sec {
  padding-top: 3px;
  margin: 0px;
  padding: 0px;

  /*height: 200px; /* Ajusta la altura según tus necesidades */
}

#containercategories {
  display: flex;
  overflow-x: auto;
  margin: 0;

}

#containertype {
  /* margin-left: 20px;
  margin-right: 20px; */
  display: flex;
  overflow-x: auto;
  margin: 0;
  /* Elimina el margen del contenedor principal */
  padding: 10px;
  /* Agrega un pequeño espacio interior al contenedor principal */
}

#containercity {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  overflow-x: auto;
  margin: 0;
  /* Elimina el margen del contenedor principal */
  padding: 10px;
  /* Agrega un pequeño espacio interior al contenedor principal */
}

#containeroperation {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  overflow-x: auto;
  margin: 0;
  /* Elimina el margen del contenedor principal */
  padding: 10px;
  /* Agrega un pequeño espacio interior al contenedor principal */
  overflow-x: hidden;
  /* Agrega una barra de desplazamiento horizontal si es necesario */
}

#containermasvisitadas {
  display: flex;
  overflow-x: auto;
  margin: 0;

}

.div_cate {
  flex: 0 0 auto;
  margin-right: 20px;
  /* Espacio entre las imágenes */
}

.col-md-12 col-sm-12 col-xs-12 {
  margin: 0;
  padding: 0;
}

/*CONTACT STYLES*/


.cnt {
  width: 100%;
  min-height: 350px;
  border: 1px solid #e1e1e1;
}

.add {
  font-size: 20px;
  font-weight: 800;
  padding: 30px;
}

#contact-sec {
  padding-top: 80px;
  padding-bottom: 50px;
  /*height: 200px; /* Ajusta la altura según tus necesidades */
}



/* FOOTER STYLE*/

footer {
  margin-top: auto;
}

#footer-sec {
  background-color: #000;
  color: #808080;
}

#footer-sec h4 {
  text-transform: uppercase;
  color: #7b4444;
}

#wrapper {
  width: 100%;
  margin: auto;
  background-color: #ffffff;

  /*modificado luis */
}

.list_product {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 20px !important;
}

.img-description-container {
  display: flex;
  width: 100%;
}

.img-container {
  flex: 1;
}

.img-container img {
  border-radius: 10px;
  /* Puedes ajustar este valor según la cantidad de redondeo que desees */
}

.description {
  margin: 7px;
  flex: 1;
  text-align: justify;
}

/* //añadido luis */

.content-img-details {
  max-width: 300px;
}

.button {
  padding: 10px 20px;
  background-color: #0d0d0d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  size: 20 px;

}

.list_content_shop {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(213, 213, 213);
  padding: 20px;
  border-radius: 20px !important;
}

/* Estilos para el div generado dinámicamente */
.div-filters {
  /*position: fixed;*  modificado luis */
  left: 30px;
  width: 99%;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  /* Agregamos flexbox para alinear los elementos en línea */
  flex-wrap: wrap;
  /* Permitimos que los elementos se envuelvan si no caben en una sola línea */
  justify-content: space-between;
  /* Espacio entre los elementos */
}

/* Estilos para los selectores */

.div-filters select {
  flex: 1;
  /* El selector ocupa todo el espacio disponible */
  margin-right: 10px;
  /* Margen derecho entre los selectores */
  padding: 10px;
  /* Añadimos relleno para dar espacio al texto */
  border: 1px solid #8c8c8c;
  /* Añadimos un borde */
  border-radius: 5px;
  /* Hacemos los bordes redondeados */
  background-color: #e9e9e9;
  /* Color de fondo */
  font-size: 16px;
  /* Tamaño de fuente */
  cursor: pointer;
  /* Cambiamos el cursor al pasar sobre el selector */
}

/* Estilos para cuando se enfoca el selector */
.div-filters select:focus {
  outline: none;
  /* Quitamos el contorno al enfocar */
  border-color: #828282;
  /* Cambiamos el color del borde al enfocar */
}

.div-filters select:hover {
  background-color: #cbccce;
  /* Cambiamos el color de fondo al pasar sobre el selector */
}


/* Estilos para los botones */
.div-filters button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #888c91;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.div-filters button:hover {
  background-color: #2f2f2f;
}

.listadoviviendas {
  width: 100%;
  border-collapse: collapse;
  /* Colapsa los bordes de la tabla */
  border: none;
  /* Elimina el borde de la tabla */

}

/* Estilos para las celdas de la tabla */
.listadoviviendas td {
  padding-left: 20px;
  padding-right: 20px;
  /* Añade espacio entre el contenido y los bordes de las celdas */
  vertical-align: top;
  /* Alinea el contenido en la parte superior de las celdas */
}

/* Estilos para la columna de la izquierda */
.listadoviviendas .columna-izquierda {
  width: 50%;
}

/* Estilos para la columna de la derecha */
.listadoviviendas .columna-derecha {
  width: 50%;
}

/* Estilos para la lista */
.listadoviviendas ul {
  list-style: none;
  /* Elimina los marcadores de la lista */
  padding: 0;
  /* Elimina el relleno de la lista */
  margin: 0;
  /* Elimina los márgenes de la lista */
  /*background-color: rgb(226, 226, 226);*/
  margin-bottom: 20px;
}

/* Estilos para los elementos de la lista */
.listadoviviendas li {
  margin-bottom: 5px;
  /* Añade espacio entre los elementos de la lista */
}

.shopdivide {
  position: relative;
  top: 0px;
}

/* estilo para el checkbox */

.checkbox-container {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-container label {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 13px;
  font-style: initial;
  font-family: 'Open Sans', sans-serif;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checktype {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkbox-container input:checked~.checktype:after {
  content: "";
  position: absolute;
  display: block;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid rgb(39, 38, 38);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-container:hover .checktype {
  background-color: #cbccce;
}

.toggle-button {
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.div-filters button.toggle-button {
  padding: 0px 0px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.toggle-button img {
  background-color: #f4f4f4;
  width: 50%;


}

.toggle-button.active img {
  /* Estilos cuando el botón está activado */
  background-color: transparent;
  opacity: 1;
  /* Imagen completamente visible */
  filter: brightness(1);
  width: 50%;


}

.toggle-button:not(.active) img {
  /* Estilos cuando el botón está desactivado */
  background-color: transparent;
  opacity: 0.7;
  /* Imagen semi-transparente */
  filter: brightness(0.6);
  /* Imagen más oscura */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */

}

#containerbusquedas {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  overflow-x: auto;
  margin: 0;
  /* Elimina el margen del contenedor principal */
  padding: 10px;
  /* Agrega un pequeño espacio interior al contenedor principal */
  overflow-x: hidden;
  /* Agrega una barra de desplazamiento horizontal si es necesario */
}

#masvisitadas {
  display: flex;
  justify-content: left;
}

.header__container {

  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #c3c3c3;
  border-bottom: 1px solid #a3a3a3;
  border-radius: 5px;
}

.search_form {
  display: flex;
  gap: 10px;

}

.search_form select,
.search_form input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
}

.search_form input[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #535353;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

#search_auto {
  visibility: hidden;
  position: absolute;
  top: 73%;
  left: 40%;
  width: 20%;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#map {
  width: 100%;
  height: 60vh;
  /* 100% de la altura de la ventana */
  /*height: auto;*/
  border-radius: 20px;
  /*position: absolute;
  /*top: 0;
  right: 0;*/
  /*overflow: auto; /* Añadido luis */
  overflow: hidden;
  /* Añadido luis */


}

.modal {
  display: none;
  /* El modal está oculto por defecto */
  position: fixed;
  /* Fija el modal en la posición especificada */
  z-index: 90000;
  /* Sitúa el modal por encima de todo lo demás */
  left: 50%;
  top: 80%;
  width: 30%;
  transform: translate(-50%, -50%);
  /* Ancho completo */
  height: 100%;
  /* Altura completa */
  background-color: rgb(0, 0, 0);
  /* Color de fondo con opacidad */
  background-color: rgba(0, 0, 0, 0);
  /* También se puede usar rgba para especificar la opacidad */
}

/* Contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% desde la parte superior y centrado */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Podrías ajustar este valor a lo que necesites */
}

/* El botón de cierre */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#openModalEstado {
  color: black;
  background-color: #e9e9e9;
  border: 1px solid rgb(129, 129, 129);
  margin-right: 10px;

}

#imagen_vivienda_mapa {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.list_product_details {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 20px !important;
}

.row.pad-row {
  width: 100%;
}

.pagination-button {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: #888;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #e0e0e0;
}

#details-shop {
  border-radius: 20px;
  margin-bottom: 20px !important;
  background-color: #f8f9fa;
  /* Color de fondo suave */
  width: 100%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* Sombra para darle profundidad */
  padding: 20px;
  /* Espacio interior alrededor del contenido */
  transition: all 0.3s ease;
  /* Transición suave para los cambios de estilo */
}

#details-shop:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* Sombra más grande al pasar el ratón */
  transform: scale(1.02);
  /* Ligeramente más grande al pasar el ratón */
}

#details-shop:empty {
  display: none;
}

.related_viviendas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.viviendas_content {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

.more_info_list {
  flex-basis: calc(33.3333% - 10px);
  margin-bottom: 10px;

}

.portfolio-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.item-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-image {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.portfolio-image:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* Sombra más grande al pasar el ratón */
  transform: scale(1.02);
  /* Ligeramente más grande al pasar el ratón */
}

.portfolio-image:empty {
  display: none;
}

.more_viviendas_button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load_more_button {
  padding: 10px 20px;
  background-color: #7a7a7b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.load_more_button:hover {
  background-color: #414141;
}

.load_more_button:empty {
  display: none;
}

#table-shop {
  width: 100%;
  border-collapse: collapse;
  /* Colapsa los bordes de la tabla */
  border: none;
  /* Elimina el borde de la tabla */
  flex-basis: calc(25% - 10px);
}

.related_viviendas_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#date_img {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.navbar-collapse collapse {
  display: flex;
  justify-content: left;
  align-items: left;
}

.div_type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}

.toast-center-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.log-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
}

#img_like {
  width: 30px;
  height: 30px;
  display: flex;
}