<html>

<body style="margin-top: 150px;">

  <table id="carrito" style="margin:auto;">
    <thead>
      <tr>
        <th colspan="5">Detalle del Carrito</th>
        <!-- <th>ID Vivienda</th> -->
        <!-- <th>Nombre Vivienda</th> -->
        <!-- <th>Usuario</th> -->
        <!-- <th>Cantidad</th>
        <th>Precio Vivienda</th>
        <th>Acciones</th> -->
      </tr>

    </thead>
    <tbody>

      <!-- Aquí se agregan las filas con JavaScript -->

    </tbody>
    <br>
  </table>

  <div style="text-align: right; margin-top: 20px;">
    <button id="cierra_carrito">Finalizar compra</button>
  </div>

</body>

</html>