<html>

<body style="margin-top: 150px;">

  <table id="carrito" style="margin:auto;">
    <thead>
      <tr>
        <th colspan="5">Detalle del Carrito</th>
        <!-- <th>ID Vivienda</th> -->
        <!-- <th>Nombre Vivienda</th> -->
        <!-- <th>Usuario</th> -->
        <!-- <th>Cantidad</th>
        <th>Precio Vivienda</th>
        <th>Acciones</th> -->
      </tr>
    </thead>
    <tbody>
      <!-- Aquí se agregan las filas con JavaScript -->
    </tbody>
  </table>

  <div style="text-align: right; margin-top: 20px;">
    <button>Finalizar compra</button>
  </div>

  <script>
    function incrementar(id) {
      var cantidad = document.getElementById(id);
      if (parseInt(cantidad.innerText) < 3) {
        cantidad.innerText = parseInt(cantidad.innerText) + 1;
      }
    }

    function decrementar(id) {
      var cantidad = document.getElementById(id);
      if (parseInt(cantidad.innerText) > 0) {
        cantidad.innerText = parseInt(cantidad.innerText) - 1;
      }
    }
  </script>

</body>

</html>