<head>
	<link href="<?php echo SITE_PATH ?>module/login/view/css/login.css" rel="stylesheet" type="text/css" />
</head>

<div class="end_register_html">
	<form id="end_register" method="post">
		<h1>Finalizar Registro</h1>

		<div class="end_register_1">
			<label for="register_rec" class="label">Token: </label>
			<br>
			<input id="register_rec" name="register_rec_txt" type="text" class="input">
		</div>
		<div class="end_register_button">
			<input type="button" class="button" id="end_register_button" value="Finalizar Registro">
		</div>

	</form>
</div>