<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="?module=home&op=view">COMPRACASA</a>
        </div>

        <!-- ======SEARCH====== -->
        <div class="header__container">
            <div class="search_form">
                <select id="search_operation"></select>
                <select id="search_category"></select>
                <input type="text" id="autocompletar" autocomplete="off" />
                <div id="search_auto"></div>
                <input type="button" value="..." id="search-btn" />
            </div>
        </div>
        <!-- ======OPCIONES====== -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="home-link" href="?module=home&op=view">Home</a></li>
                <li><a id="shop-link" href="?module=shop&op=view">Shop</a></li>
                <li><a id="login-register" href="?module=login&op=view">Login/Register</a>
                </li>
                <li><a id="des_inf_user"></a></li>
                <li><a class="log-icon"></a></li>
            </ul>
        </div>
    </div>
</div>