<html>

<body>

  <div style="height: 100px;"> </div> <!-- Elemento estático que ocupa 100px -->

  <!-- <div class="filters"></div> comentado porque no se usa -->

  <div class="shopdivide">
    <div class="filters_shop_html" id="filters_shop"> <!-- aqui van los selectores de los filtros-->
    </div>
    <!-- list-viviendas -->
    <table class="listadoviviendas" style="width: 100%; top: 0; height: auto; border: 1px; color:black;">
      <tr>
        <!-- Columna de la izquierda -->
        <td style="width: 50%; height: 100%;">
          <h3>&nbsp;&nbsp;&nbsp;&nbsp;Listado de Inmuebles</h3>
          <ul style="width: 100%; border:1px; color:black">
            <li>
              <div class="container_shop" id="content_shop_viviendas"> </div>
            </li>
            <!-- details-viviendas -->
            <div id="details-shop">
              <div class="date_img" id="date_img"> <!-- aqui van las imagenes del slider -->
              </div>
              <div class="date_viviendas" id="date_viviendas"> <!-- aqui van los detalles de las viviendas -->
              </div>
            </div>
          </ul>

          <div id="pagination" class='pagination'> </div>
          <!-- related-viviendas -->
          <div class="related_viviendas_title"></div>
          <div class="related_viviendas"></div>

        </td>
        <!-- Columna de la derecha -->
        <td style="position:sticky; width: 50%">
          <!-- con esto hacemos que la columna de la derecha este fija -->
          <h3>Ubicación del Inmueble</h3>
          <div style="width: 100%; border:1px; color:black;">
          </div>
          <div id="map" class="map">
          </div>
        </td>
      </tr>
    </table>

  </div>

</body>

</html>